<template>
  <div class="topup">
    <z-header title="充值提现"/>
    <div class="tab">
      <div
        @click="handleTabClick('topup')"
        class="tab-item"
        :class="{
          'tab-item__focus': curTab === 'topup'
        }"
      >充值</div>
      <div
        @click="handleTabClick('withdraw')"
        class="tab-item"
        :class="{
          'tab-item__focus': curTab === 'withdraw'
        }"
      >提现</div>
    </div>
    <Round front="#f7faff"/>
    <div class="show-panel">
      <div class="title">输入{{ curTab === "withdraw" ? "提现" : "充值" }}金额</div>
      <div class="form-input">
        <div class="left">
          <img src="./assets/cny.png">
        </div>
        <div class="right">
          <input v-model="amount" type="number">
        </div>
      </div>
      <div class="desc" v-show="curTab === 'withdraw'">
        现金余额：{{ realCashAsset.toFixed(2) }}
        <div class="topup-all" @click="handleWithdrawAll">全部提现</div>
      </div>
    </div>
    <div class="op-panel">
      <div class="title">选择{{ curTab === "withdraw" ? "提现" : "充值" }}账户</div>
      <div class="list-card">
        <div class="list-item">
          <div class="left">
            <img src="./assets/baixin.png">
            <div>
              <div class="title">开通百信银行</div>
              <div class="desc">提现充值更优惠</div>
            </div>
          </div>
          <div class="right baixin-arrow" @click="noop">
            <img src="./assets/arrow.png" class="arow-icon">
          </div>
        </div>
        <div class="list-item">
          <div class="left">
            <img src="./assets/alipay.png">
            <div>
              <div class="title">支付宝</div>
              <div class="desc">扣除手续费0.05%</div>
            </div>
          </div>
          <div
            @click="handleChooseChannel('alipay')"
            class="right"
            :class="{ checked: channel === 'alipay' }"
          >
            <img src="./assets/radio.png">
          </div>
        </div>
        <div class="list-item">
          <div class="left">
            <img src="./assets/wechat.png">
            <div>
              <div class="title">微信</div>
              <div class="desc">扣除手续费0.05%</div>
            </div>
          </div>
          <div
            @click="handleChooseChannel('wechat')"
            class="right"
            :class="{ checked: channel === 'wechat' }"
          >
            <img src="./assets/radio.png">
          </div>
        </div>
        <div class="list-item">
          <div class="left">
            <img src="./assets/zhongxin.png">
            <div>
              <div class="title">中信银行（0923）</div>
              <div class="desc">扣除手续费0.05%</div>
            </div>
          </div>
          <div
            @click="handleChooseChannel('card')"
            class="right"
            :class="{ checked: channel === 'card' }"
          >
            <img src="./assets/radio.png">
          </div>
        </div>
        <div class="add-card" @click="noop">
          <img src="./assets/add.png"> 添加银行卡
        </div>
      </div>
    </div>
    <div class="placeholder"/>
    <div class="submit-btn" @click="noop" v-show="curTab === 'withdraw'">确认提现</div>
    <div class="submit-btn" @click="noop" v-show="curTab === 'topup'">确认充值</div>
  </div>
</template>

<script>
import Round from "../../components/Round";
import ZHeader from "../../components/Header";
import { Toast } from "vant";
export default {
  components: {
    Round,
    ZHeader
  },
  data() {
    return {
      curTab: "topup", // 0 | 1
      amount: null,
      channel: "alipay" // "alipay" | "wechat" | "card"
    };
  },
  beforeRouteEnter(to, from, next) {
    next(() => {
      window.scrollTo(0, 0);
    });
  },
  mounted() {
    const { type } = this.$route.query;
    if (["topup", "withdraw"].includes(type)) {
      this.curTab = type;
    }
  },
  methods: {
    handleTabClick(type) {
      this.curTab = type;
      this.amount = null;
    },
    handleWithdrawAll() {
      this.amount = Number(this.realCashAsset.toFixed(2));
    },
    handleChooseChannel(channel) {
      this.channel = channel;
    },
    noop() {
      Toast("暂未开放");
    }
  },
  computed: {
    realCashAsset() {
      return this.$store.getters.realCashAsset;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../common/vars.scss";
.topup {
  font-size: 24px;
  // min-height: 100vh;
  background: #f7faff;
  .tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 160px;
    background: $main-color;
    .tab-item {
      color: rgba(#fff, 0.4);
      line-height: 120px;
      font-size: 28px;
    }
    .tab-item__focus {
      position: relative;
      color: #fff;
      &::after {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background: #fff;
        border-radius: 50%;
        bottom: 18px;
        left: calc(50% - 7px);
      }
    }
  }
}
.show-panel {
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  width: 670px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 24px 48px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  .title {
    font-size: 28px;
    color: rgba(#000, 0.8);
  }
  .desc {
    display: flex;
    color: rgba(#000, 0.4);
    margin-top: 20px;
    .topup-all {
      margin-left: 20px;
      color: $main-color;
    }
  }
}
.form-input {
  margin: 40px 0 0 0;
  display: flex;
  align-items: center;
  .left,
  .right {
    flex-grow: 2;
    height: 104px;
    border: 1px solid rgba($main-color, 0.4);
    display: inline-flex;
    align-items: center;
  }
  .left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    flex-grow: 0;
    width: 104px;
    justify-content: center;
    border-right: 0;
    img {
      width: 64px;
      height: 64px;
    }
  }
  .right {
    padding-left: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    input {
      color: $main-color;
      font-size: 36px;
    }
  }
}

.op-panel {
  padding: 40px;
  .title {
    font-size: 28px;
  }
  .list-card {
    margin-top: 20px;
    // width: 630px;
    background: #fff;
    border-radius: 8px;
  }
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  .left {
    display: inline-flex;
    align-items: center;
    > img {
      width: 48px;
      height: 48px;
      margin-right: 40px;
    }
    .title {
      font-size: 32px;
      margin-bottom: 10px;
    }
    .desc {
      color: #90a1b8;
      font-size: 24px;
    }
  }
  .right {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #90a1b8;
    &.baixin-arrow {
      border: none;
      > img {
        visibility: visible;
        width: 48px;
      }
    }
    img {
      visibility: hidden;
      width: 100%;
      height: 100%;
    }
  }
  .checked {
    border: none;
    > img {
      visibility: visible;
    }
  }
}
.add-card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #90a1b8;
  padding: 20px 0;
  img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
}
.placeholder {
  height: 120px;
}

.submit-btn {
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  line-height: 96px;
  text-align: center;
  background: $main-color;
}
</style>
