<template>
  <div class="transaction-wrapper">
    <ZHeader title="交易" />
    <div class="transaction">
      <div class="tab">
        <div
          @click="handleTabChange(0)"
          class="tab-item"
          :class="{ 'tab-item--focus': curTab === 0 }"
        >
          售出
        </div>
        <div
          @click="handleTabChange(1)"
          class="tab-item"
          :class="{ 'tab-item--focus': curTab === 1 }"
        >
          买入
        </div>
      </div>
      <Round />

      <div class="price-panel">
        <div class="price-container f-num">
          <img src="./assets/icon_price.png" />
          <div style="font-size: 20px">￥{{ marketPrice }}</div>
        </div>

        <div class="price-desc">当前价格</div>
      </div>

      <div class="setting">
        <div class="input-number">
          <div class="input-title">
            设置{{ curTab === 0 ? "售出" : "购入" }}数量
            <div class="title-desc">
              碳元：
              <span class="number f-num">{{ carbonAsset }}</span>
            </div>
          </div>
          <div class="input-body">
            <div class="minusIcon-container" @click="handleAmountMinus">
              <img src="./assets/icon_minus.png" />
            </div>
            <div class="input-wrapper">
              <input v-model="amount" type="number" />
            </div>

            <div class="plusIcon-container" @click="handleAmountPlus">
              <img src="./assets/icon_plus.png" />
            </div>
          </div>
        </div>
        <div class="input-number sell-input">
          <div class="input-title">
            设置{{ curTab === 0 ? "售出" : "购入" }}单价
            <div class="title-desc">
              建议单价：
              <span class="number f-num">{{ marketPrice }}</span>
            </div>
          </div>
          <div class="input-body">
            <div class="minusIcon-container" @click="handlePriceMinus">
              <img src="./assets/icon_minus.png" />
            </div>
            <div class="input-wrapper">
              <input v-model="price" type="number" />
            </div>

            <div class="plusIcon-container" @click="handlePricePlus">
              <img src="./assets/icon_plus.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="operation">
        <Button class="z-btn" @click="handlePendOrder">委托挂单</Button>
        <div class="desc-btn">出售说明</div>
      </div>
    </div>
  </div>
</template>

<script>
import { Notify, Dialog } from "vant";
import ZHeader from "../../components/Header";
import Round from "../../components/Round";
import { order } from "../../api";

export default {
  components: {
    ZHeader,
    Round
  },
  data() {
    return {
      price: 0,
      amount: 0,
      curTab: 0 // 0 | 1 -》 "卖" | ”买“
    };
  },
  mounted() {
    this.price = this.marketPrice;
    const { type } = this.$route.query;
    if (["buy", "sell"].includes(type)) {
      if (type === "buy") {
        this.curTab = 1;
      } else if (type === "sell") {
        this.curTab = 0;
      }
    }
  },
  methods: {
    handleTabSell() {},
    handleTabBuy() {},
    handleTabChange(curTab) {
      this.curTab = curTab;
    },
    handleAmountMinus() {
      if (Number(this.amount) - 1 <= 0) {
        return;
      }
      this.amount = (Number(this.amount) - 1).toFixed(0);
    },
    handleAmountPlus() {
      // TODO 数量限制
      this.amount = (Number(this.amount) + 1).toFixed(0);
    },
    handlePriceMinus() {
      if (Number(this.price) - 0.001 <= 0) {
        return;
      }
      this.price = (Number(this.price) - 0.001).toFixed(3);
    },
    handlePricePlus() {
      this.price = (Number(this.price) + 0.001).toFixed(3);
    },
    handlePendOrder() {
      let errMsg = this.validate({
        price: this.price,
        amount: this.amount
      });
      if (errMsg) {
        Notify(errMsg);
        return;
      }
      // 剩余金额校验
      if (
        this.curTab === 1 &&
        Number(this.amount) * Number(this.price) > this.cashAsset
      ) {
        Dialog.confirm({
          title: "余额不足",
          message: "前往充值"
        }).then(() => {
          this.$router.push({
            name: "Billing",
            query: {
              type: "topup"
            }
          });
        });
        return;
      }

      // 提交订单
      let side = this.curTab === 0 ? 1 : 0;
      const { cashRatio, carbonRatio } = this.$store.state;
      order({
        amount: Number(this.amount) * carbonRatio,
        price: Number(this.price) * cashRatio,
        side
      })
        .then(({ data }) => {
          if (data.code === 200) {
            this.amount = 0;
            this.$router.push({
              name: "PendOrder"
            });
            this.$store.dispatch("setAssets");
          } else {
            Notify(data.message);
          }
        })
        .catch(() => {});
    },
    validate(model) {
      const { price, amount } = model;
      if (Number(price) < 0.000001) {
        return "价格必须大于0.000001";
      }
      if (Number(amount) <= 0 || !Number.isInteger(Number(amount))) {
        return "数量为正整数";
      }
    }
  },
  computed: {
    marketPrice() {
      return this.$store.getters.realTodayPrice;
    },
    carbonAsset() {
      return this.$store.getters.realCarbonAsset;
    },
    cashAsset() {
      return this.$store.getters.realCashAsset;
    }
  },
  watch: {
    marketPrice(v) {
      this.price = v;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../common/vars.scss";
.transaction-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.transaction {
  height: 100%;
  $green: #36a569;
  $red: #d62958;
  background: #f8faff;
  flex-grow: 2;
  .f-green {
    color: $green;
  }

  .f-red {
    color: $red;
  }

  .tab {
    background: $main-color;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    padding: 0 156px;

    .tab-item {
      display: inline-block;
      line-height: 106px;
      color: rgba(255, 255, 255, 0.6);
    }

    .tab-item--focus {
      color: #fff;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 16px;
        left: calc(50% - 5px);

        width: 10px;
        height: 10px;
        background: #fff;
        border-radius: 20px;
      }
    }
  }

  .price-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 60px 0;
    height: 88px;
    background: rgba($main-color, 0.1);
    border-radius: 8px;
    padding: 0 40px;

    .price-container {
      display: inline-flex;
      align-items: center;
      color: $main-color;
    }

    .price-desc {
      font-size: 24px;
      font-weight: 400;
      color: rgba($main-color, 0.6);
    }

    img {
      width: 40px;
      height: 40px;
      margin-right: 12px;
    }
  }

  .sell-input {
  }

  .setting {
    margin: 40px 40px 0;
    padding: 40px 40px;
  }

  .sell-input {
    margin-top: 30px;
  }

  .input-number {
    .input-title {
      display: flex;
      align-items: center;
      font-size: 28px;
      color: #000;
      opacity: 0.8;
      margin-bottom: 12px;

      .title-desc {
        margin-left: 10px;
        font-size: 24px;
        opacity: 0.4;
      }

      .number {
        font-size: 24px;
        font-weight: 500;
        color: rgba($main-color, 0.9);
      }
    }

    .input-body {
      display: flex;
      align-items: center;
      border: 1px solid $main-color;
      border-radius: 8px;
      justify-content: space-between;
    }

    .minusIcon-container,
    .plusIcon-container {
      line-height: 0;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50px;
        height: 50px;
      }
    }

    .input-wrapper {
      line-height: 0;
      flex-grow: 2;
      border-left: 1px solid $main-color;
      border-right: 1px solid $main-color;
    }

    input {
      display: inline-block;
      line-height: 100px;
      height: 100px;
      text-align: center;
      color: $main-color;
      font-size: 36px;
      width: 100%;
    }
  }

  .operation {
    margin-top: 120px;
    padding: 0 40px;

    button {
      font-size: 28px;
      line-height: 96px;
      box-shadow: 0px 40px 30px 0px rgba($main-color, 0.06),
        0px 20px 26px 0px rgba($main-color, 0.09);
    }

    .desc-btn {
      margin-top: 20px;
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      color: $main-color;
    }
  }

  .round-container {
    > div {
      background: #f8faff;
    }
  }
}

.z-btn {
  $height: 80px;
  display: block;
  span-align: center;
  line-height: 80px;
  color: #fff;
  border-radius: 80px;
  background: $main-color;
  width: 100%;
}
</style>
