<template>
  <div class="wallet">
    <!-- <header>
      <img src="../assets/back.png" class="back-icon" alt>
      <span></span>
      <h1>碳账户</h1>
      <span></span>
    </header> -->
      <br>
    <main>
      <section class="assets">
        <div class="section-header">
          <h2>累计减排量</h2>
        </div>
        <div class="section-main">
          <div class="carbon">
            <div class="flex-space asset-header">
              <span>我的减排量</span>
              <span
                @click="
                  $router.push({
                    name: 'TransactionRecord',
                    query: { type: 'carbon' }
                  })
                "
              >查看减排记录</span>
            </div>
            <div class="asset-content">
              <h3 class="c-main">{{ $store.getters.realCarbonAsset | toFixed }}</h3>
              <span>&nbsp;千克</span>
            </div>
            <!-- <div class="asset-footer">
              可折现：
              <strong class="c-main">￥{{ carbonWithCash | toFixed }}</strong>&nbsp;&nbsp;&nbsp;未到账：
              <strong>
                {{
                $store.getters.realFreezeCarbonAsset | toFixed
                }}
              </strong>
            </div> -->
          </div>
          <!-- <div class="cash">
            <div class="flex-space asset-header">
              <span>我的现金</span>
              <span
                class="c-pri"
                @click="
                  $router.push({
                    name: 'TransactionRecord',
                    query: { type: 'cash' }
                  })
                "
              >查看现金记录</span>
            </div>
            <div class="asset-content">
              <h3 class="c-pri">{{ $store.getters.realCashAsset | toFixed }}</h3>
              <span>元</span>
            </div>
            <div class="asset-footer">
              未到账:
              <strong>
                {{
                $store.getters.realFreezeCashAsset | toFixed
                }}
              </strong>
            </div>
          </div> -->
          <!-- <div class="flex-space btn-group">
            <button
              @click="
                $router.push({ name: 'Billing', query: { type: 'withdraw' } })
              "
            >提现</button>
            <button
              @click="
                $router.push({ name: 'Billing', query: { type: 'topup' } })
              "
            >充值</button>
          </div> -->
        </div>
      </section>
      <!-- banner -->
      <img src="../assets/banner.png" alt class="banner">
      
      <!-- gongyi -->
      <section class="assets">
        <div class="section-header">
            <h2>减排公益中心（建设中）</h2>
        </div>
        <img src="../assets/gongyi.png" alt class="banner">
      </section>
      
      <section class="footer">
          <img src="../assets/logo.png" alt="" class="logo">
        <div class="content">
          <h5>信碳云提供技术服务</h5>
        </div>
      </section>
      

      <!-- <section class="trading-center">
        <div class="section-header">
          <h2>交易中心</h2>
          <span>交易说明</span>
        </div>
        <div class="section-main">
          <div class="flex-space price-info">
            <div>
              <div class="price-title">今日价格</div>
              <div class="price-num">￥ {{ $store.getters.realTodayPrice | toFixed(3) }}</div>
            </div>
            <div>
              <div class="price-title">今日买价格</div>
              <div class="price-num">￥ {{ $store.getters.realTodayPrice | toFixed(3) }}</div>
            </div>
            <div>
              <div class="price-title">今日买价格</div>
              <div class="price-num">￥ {{ $store.getters.realTodayPrice | toFixed(3) }}</div>
            </div>
          </div>
          <div class="chart-wrapper">
            <canvas id="chart" width="100%" height="100%"></canvas>
          </div>
          <div class="chart-tab">
            <div :class="{ focus: curChart === 0 }" @click="renderChartByDay(5, 0)">5日</div>
            <div :class="{ focus: curChart === 1 }" @click="renderChartByDay(10, 1)">10日</div>
            <div :class="{ focus: curChart === 2 }" @click="renderChartByDay(30, 2)">30日</div>
          </div>
          <div class="flex-space btn-group">
            <button
              @click="
                $router.push({ name: 'Transaction', query: { type: 'buy' } })
              "
            >买入</button>
            <button
              @click="
                $router.push({ name: 'Transaction', query: { type: 'sell' } })
              "
            >卖出</button>
            <button @click="$router.push({ name: 'PendOrder' })">挂单记录</button>
          </div>
        </div>
      </section> -->

      <!-- <section class="product-intro">
        <div class="section-header">
          <h2>相关说明</h2>
        </div>
        <div class="section-main">
          <div class="card">
            <div class="card-title">交易规则</div>
            <div class="card-content">
              <div class="rule-table">
                <div class="rule-row">
                  <div class="row-title">买入</div>
                  <div class="row-content">交易时间买入，T+3碳元到帐。</div>
                </div>
                <div class="rule-row">
                  <div class="row-title">卖出</div>
                  <div class="row-content">交易时间卖出，T+3现金到帐。。</div>
                </div>
                <div class="rule-row">
                  <div class="row-title">手续费</div>
                  <div class="row-content">
                    <span style="color: #8AC05A">10%&nbsp;</span>
                    买入扣除碳元10%作为买入手续费，卖出扣除10%现金作为卖出手续费。
                  </div>
                </div>
                <div class="rule-row">
                  <div class="row-title">提现</div>
                  <div class="row-content">随时发起提现申请，T+1现今到帐。</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">产品介绍</div>
            <div
              class="card-content"
            >信碳云通过将具有低碳贡献的互联网服务场景中个人贡献量化、审计并通过区块链技术将碳元签发至个人账户，用户可以用碳元享受平台权益提供方所提供的权益，亦可以通过交易获得现金收入。</div>
          </div>
          <div class="card">
            <div class="card-title">标准与认证</div>
            <div
              class="card-content"
            >中信碳资产建立标准委员会，聘请国家碳资产审核领域专家出任主席，与专业第三方审核机构合作，场景运营机构与交易机构参与。为低碳场景碳资产核算、监测、认证签发制定标准。并进一步推进行程行业标准乃至更高的标准。</div>
          </div>
          <div class="card">
            <div class="card-title">风险提示</div>
            <div class="card-content">交易有风险，投资需谨慎。</div>
          </div>
        </div>
      </section> -->
      <!-- <button class="open-btn">湖北交易所开户</button> -->


    </main>
  </div>
</template>

<script>
import F2 from "@antv/f2";
import { getUserAsset, getRecentTradePrice } from "../api";
let chart = null;
export default {
  name: "home",
  data() {
    return {
      assets: {
        carbon: {
          asset: 0,
          freeze: 0
        },
        cash: {
          asset: 0,
          freeze: 0
        }
      },
      curPrice: [],
      curChart: 0 // 0| 1 | 2
    };
  },
  async mounted() {
    console.log(">?")
    let title = document.title;
    this.$on("hook:beforeDestroy", () => {
      document.title = title;
    });
    document.title = "碳账户";

    getUserAsset().then(({ data }) => {
      if (data.code === 200) {
        this.assets = data.data;
      }
    });
    // this.renderChartByDay(5, 0);
  },
  methods: {
    renderChart(data = []) {
      chart && chart.clear();
      const minValue = data.map(ele => Number(ele.value)).sort()[0];
      chart = new F2.Chart({
        id: "chart",
        pixelRatio: window.devicePixelRatio,
        appendPadding: [20, 10]
      });

      chart.source(data, {
        day: {
          range: [0, 1],
          tickCount: 5
        },
        value: {
          min: minValue - 0.001
          // max: 0.039
        }
      });
      chart.tooltip({
        showCrosshairs: true,
        custom: true,
        showXTip: true,
        showYTip: true,
        snap: true,
        crosshairsType: "xy",
        crosshairsStyle: {
          lineDash: [2]
        }
      });

      chart
        .line()
        .color("#00c795")
        .shape("smooth")
        .position("day*value");
      chart
        .area({
          sortable: false
        })
        .shape("smooth")
        .color("#00c795")
        .position("day*value");
      chart.render();
    },
    renderChartByDay(day, tab = 0) {
      getRecentTradePrice(day).then(({ data }) => {
        if (data.code === 200) {
          this.curChart = tab;
          let final = data.data.map(this.mapPriceItem).reverse();
          this.curPrice = final;
          this.renderChart(final);
        }
      });
    },
    mapPriceItem(item) {
      let date = new Date(item.date);
      return {
        ...item,
        value: Number((item.price / this.$store.state.cashRatio).toFixed(4)),
        day: `${date.getMonth() + 1}-${date.getDate()}`
      };
    }
  },
  filters: {
    toFixed(num, places = 2) {
      return num.toFixed(places);
    }
  },
  computed: {
    carbonWithCash() {
      const todayPrice = this.$store.state.todayPrice;
      return (
        (todayPrice / this.$store.state.cashRatio) *
        (this.assets.carbon.asset / this.$store.state.carbonRatio)
      );
    },
    todayPrice() {
      return this.$store.state.todayPrice;
    }
  }
};
</script>
<style lang="scss" scoped>
$main-color: #00c795;
$pri-color: #374a63;
$font-color: #90a1b8;
$weak-color: #90a1b8;
.wallet {
  min-height: 100vh;
  background: #f7faff;
  padding-bottom: 80px;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px;
    margin-bottom: 30px;
    .back-icon {
      width: 50px;
      height: 50px;
    }
    > span {
      display: inline-block;
      width: 30px;
    }
    > h1 {
      text-align: center;
      color: $main-color;
      font-size: 32px;
    }
  }
  main {
    padding: 0 40px;

    .open-btn {
      display: block;
      width: 100%;
      line-height: 164px;
      text-align: center;
      background: $main-color;
      font-size: 36px;
      color: #fff;
    }
  }
}

.assets {
  line-height: 1;
  .asset-header {
    font-size: 24px;
    margin-bottom: 20px;
    > span {
      &:first-child {
        color: #90a1b8;
      }
      &:last-child {
        color: $main-color;
      }
    }
  }
  .asset-content {
    // margin-bottom: 20px;
    h3 {
      font-size: 64px;
      display: inline;
      // color: #374a63;
    }
    span {
      font-size: 28px;
      color: #a9bdda;
    }
  }
  .asset-footer {
    color: $font-color;
  }
  .carbon {
    // padding-bottom: 40px;
  }
  .cash {
    padding-top: 40px;
    border-top: 1px solid #edf4ff;
    .asset-header {
      > span {
        &:last-child {
          color: #374a63;
        }
      }
    }
  }
  .btn-group {
    margin-top: 40px;
    button {
      width: 47%;
      line-height: 80px;
      background: $main-color;
      border-radius: 4px;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      color: #fff;
      &:first-child {
        margin-right: 32px;
      }
    }
  }
}
.banner {
  margin-bottom: 50px;
  width: 100%;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    width: 70px;
    height: 35px;
  }
  .content {
    padding-left: 10px;
    font-size: 32px;
    color:$weak-color;
  }
}
.trading-center {
  .price-info {
    line-height: 1;
    text-align: center;
    .price-title {
      font-size: 20px;
      color: $weak-color;
    }
    .price-num {
      color: $main-color;
      font-size: 32px;
      margin-top: 20px;
      font-weight: 500;
    }
  }
  .chart-wrapper {
    height: 400px;
    #chart {
      width: 100%;
      height: 100%;
    }
  }
  .chart-tab {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 54px;
    border-radius: 8px;
    background: rgba($main-color, 0.1);
    > div {
      background: rgba($main-color, 0.05);
      border-radius: 8px;
      flex-grow: 2;
      text-align: center;
      color: #90a1b8;
      &.focus {
        background: $main-color;
        color: #fff;
      }
    }
  }
  .btn-group {
    margin-top: 40px;
    button {
      line-height: 80px;
      text-align: center;
      background: $main-color;
      width: 30%;
      color: #fff;
      border-radius: 4px;
      &:last-child {
        background: rgba($main-color, 0.1);
        color: $main-color;
      }
    }
  }
}

.product-intro {
  line-height: 1;
  .section-main {
    padding: 0 !important;
  }
  .card {
    border-bottom: 8px solid rgba($main-color, 0.1);
    &:last-child {
      border: 0;
    }
  }
  .card-title {
    font-size: 28px;
    line-height: 72px;
    font-weight: 500;
    border-bottom: 2px solid rgba(#000, 0.05);
    margin: 0 40px;
  }
  .card-content {
    padding: 40px;
    line-height: 1.5;
  }
  .rule-table {
    .rule-row {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      .row-title {
        color: rgba(#000, 0.5);
        min-width: 96px;
      }
      .row-body {
      }
    }
  }
}

// section

section {
  margin-bottom: 60px;
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h2 {
      color: #374a63;
      font-size: 36px;
      font-weight: 500;
    }
    span {
      color: $main-color;
      font-size: 28px;
    }
  }
  .section-main {
    background: #fff;
    box-shadow: 0px 40px 30px 0px rgba(0, 0, 0, 0.02),
      0px 20px 26px 0px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    padding: 40px;
  }
}
.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app .c-main {
  color: $main-color;
}
#app .c-pri {
  color: $pri-color;
}
#app .c-weak {
  color: $font-color;
}
</style>
