<template>
  <div class="login login-page">
    <div class="slogan-wrapper">
      <img src="../assets/logo.png" />
      <div class="slogan">欢迎登录信碳云</div>
    </div>
    <div class="form-item">
      <div class="form-label">手机号</div>
      <div class="form-content">
        <input
          v-model="model.mobile"
          placeholder="请输入手机号"
          type="number"
        />
      </div>
    </div>
    <div class="form-item">
      <div class="form-label">验证码</div>
      <div class="form-content">
        <input v-model="model.vcode" placeholder="请输入验证码" type="number" />
        <div @click="handleSendCode" class="count-btn">{{ countdownText }}</div>
      </div>
    </div>
    <button class="submit-btn" @click="handleSubmit">登录</button>
  </div>
</template>

<script>
import axios from "axios";
import { Notify, Toast } from "vant";
import { sendCode, loginFromWeb } from "../api";
import { isHKMobile, isMainlandMobile, getCallPrefix } from "../common/utils";
export default {
  data() {
    return {
      model: {
        mobile: "",
        vcode: ""
      },
      countdownTime: 60,
      countdownText: "验证码",
      isCounting: false
    };
  },
  methods: {
    handleSendCode() {
      const { mobile } = this.model;
      if (!this.validateMobile(mobile)) {
        Notify({
          message: "请输入手机号"
        });
        return;
      }
      if (!this.isCounting) {
        this.isCounting = true;
        // 倒计时
        let timer = setInterval(() => {
          let { countdownTime } = this;
          countdownTime--;
          if (countdownTime === 0) {
            clearInterval(timer);
            this.countdownText = "获取验证码";
            this.countdownTime = 60;
            this.isCounting = false;
            return;
          } else {
            this.countdownText = `${countdownTime}s`;
            this.countdownTime = countdownTime;
            this.isCounting = true;
          }
        }, 1000);
        // 判断手机号地区
        // send code
        let mobileCode = getCallPrefix(mobile);
        sendCode({
          mobile,
          mobileCode: String(mobileCode)
        }).then(({ data }) => {
          if (data.code === 200) {
            Toast.success("验证码发送成功");
            if (data.data) {
              this.model.vcode = data.data;
            }
          } else {
            Toast.fail("验证码发送失败");
          }
        });
      }
    },
    handleSubmit() {
      const { mobile, vcode } = this.model;
      if (!this.validateMobile(mobile)) {
        Notify({
          message: "请输入手机号"
        });
        return;
      }
      if (vcode.length !== 6) {
        Notify({
          message: "请输入验证码"
        });
        return;
      }
      let mobileCode = getCallPrefix(mobile);
      loginFromWeb({
        mobile: Number(mobile),
        mobileCode,
        type: 1,
        verifyCode: vcode
      }).then(({ data }) => {
        if (data.code === 200) {
          Toast.success("登录成功");
          localStorage.setItem("USER", JSON.stringify(data.data));
          axios.defaults.headers["token"] = data.data.token;
          setTimeout(() => {
            this.$router.replace("/");
            this.$store.dispatch("setPrice");
            this.$store.dispatch("setAssets");
          }, 1000);
        } else {
          Toast.fail(data.message);
        }
      });
    },

    validateMobile(mobile) {
      return isMainlandMobile(mobile) || isHKMobile(mobile);
    }
  }
};
</script>

<style lang="scss" scoped>
.countdown-text {
  font-size: 12px;
}

.login {
  padding: 0 60px;
  height: 100vh;
}

.submit-btn {
  display: block;
  width: 100%;
  margin: 70px 0 40px;
  background: #00c795;
  line-height: 110px;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  border-radius: 0;
  &::after {
    border: none;
    border-radius: 0;
  }
}

.auth-btn {
  border: 1px solid #00c795;
  line-height: 110px;
  font-size: 32px;
  font-weight: 400;
  color: #00c795;
  text-align: center;
  border-radius: 0;
  &::after {
    border: none;
    border-radius: 0;
  }
}

.slogan-wrapper {
  margin-top: 80px;
  margin-bottom: 120px;
  > img {
    width: 160px;
    height: 80px;
  }
  .slogan {
    font-size: 36px;
    color: #00c795;
    margin-top: 10px;
  }
}
.form-item {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);
  margin-bottom: 60px;
  .form-label {
    color: #374a63;
    font-size: 32px;
    margin-bottom: 30px;
  }
  .form-content {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    > input {
      font-size: 28px;
      border: none;
      outline: none;
      letter-spacing: 2px;
    }
  }
}

.count-btn {
  padding: 0 16px;
  line-height: 52px;
  background: rgba($color: #00c795, $alpha: 0.1);
  border-radius: 26px;
  color: #00c795;
  text-align: center;
  min-width: 144px;
  font-size: 28px;
}
.input-placeholder {
  color: rgba($color: #000000, $alpha: 0.4);
}
</style>
