<template>
  <div class="pendOrder">
    <z-header title="挂单记录"></z-header>
    <Round />
    <van-list
      :finished="finished"
      v-model="loading"
      @load="onLoad"
      finished-text="没有更多了"
    >
      <div class="card" v-for="order in orderList" :key="order.id">
        <div class="orderInfo">
          <div>
            <div class="title">单价（元）</div>
            <div class="body f-num">{{ cashFilter(order.price) }}</div>
          </div>
          <div>
            <div class="title">总量</div>
            <div class="body f-num">{{ carbonFilter(order.amount) }}</div>
          </div>
          <div>
            <div class="title">平均价格</div>
            <div class="body f-num">
              {{ order.status === 0 ? "暂无" : cashFilter(order.avgPrice) }}
            </div>
          </div>
          <div>
            <div
              v-if="order.status === 0 || order.status === 1"
              class="op-btn"
              @click="handleCancelOrder(order)"
            >
              撤销
            </div>
            <span class="status-done" v-if="order.status === 2">已完成</span>
            <span class="status-cancel" v-if="order.status === 3">已取消</span>
          </div>
        </div>
        <div class="orderStatus">
          <div :style="{ display: 'flex', alignItem: 'center' }">
            <div
              class="trade-tag"
              :class="[order.side === 0 ? 'trade-tag__buy' : 'trade-tag__sell']"
            >
              {{ order.side === 0 ? "买入" : "卖出" }}
            </div>
            <div>
              成交量:
              <span class="number">{{
                carbonFilter(order.completedAmount)
              }}</span>
            </div>
            <div :style="{ marginLeft: '18px' }">
              未成交量:
              <span class="number">{{ carbonFilter(order.realAmount) }}</span>
            </div>
          </div>
          <div>{{ order.createdTime }}</div>
        </div>
      </div>
    </van-list>
  </div>
</template>

<script>
import { List } from "vant";
import Vue from "vue";
import { getOrderList, cancelOrder } from "../api";
import { fmtDate } from "../common/utils";
import ZHeader from "../components/Header";
import Round from "../components/Round";
import { Dialog } from "vant";

Vue.use(List);
export default {
  components: {
    ZHeader,
    Round
  },
  data() {
    return {
      orderList: [],
      loading: false,
      finished: false,
      pageInfo: {
        pageNum: 1,
        pageSize: 20
      }
    };
  },
  mounted() {
    // this.fetchData(this.pageInfo);
  },
  methods: {
    onLoad() {
      this.fetchData(this.pageInfo).then(() => {
        this.loading = false;
      });
    },
    fetchData(
      pageInfo = {
        pageNum: 1,
        pageSize: 20
      }
    ) {
      return getOrderList(pageInfo).then(res => {
        const mappedData = res.data.data.map(item => {
          return {
            ...item,
            createdTime: fmtDate(item.createdTime)
          };
        });
        this.orderList = [...this.orderList, ...mappedData];
        this.pageInfo.pageNum++;
        if (mappedData.length < this.pageInfo.pageSize) {
          this.finished = true;
        }
        return mappedData;
      });
    },
    cashFilter(num) {
      return (num / this.cashRatio).toFixed(3);
    },
    carbonFilter(num) {
      return (num / this.carbonRatio).toFixed(0);
    },
    handleCancelOrder(order) {
      console.log(order);
      Dialog.confirm({
        title: "提示",
        message: "确认取消该订单"
      })
        .then(() => {
          // on confirm
          return cancelOrder(order.id);
        })
        .then(() => {
          order.status = 3;
        })
        .catch(() => {
          // on cancel
        });
    }
  },
  computed: {
    cashRatio() {
      return this.$store.state.cashRatio;
    },
    carbonRatio() {
      return this.$store.state.carbonRatio;
    }
  }
};
</script>

<style lang="scss" scoped>
$main-color: #00c795;
.pendOrder {
  .scroller {
    height: 100vh;
  }

  .card {
    padding: 20px;
    border-bottom: 8px solid rgba($main-color, 0.1);

    .orderInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding-bottom: 16px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);

      .title {
        font-size: 24px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.4);
      }

      .op-btn {
        font-size: 24px;
        width: 112px;
        line-height: 56px;
        font-weight: 400;
        background: $main-color;
        border-radius: 8px;
        color: #fff;
      }

      .status-done {
        font-size: 28px;
        font-weight: 400;
        color: $main-color;
      }

      .status-cancel {
        font-size: 28px;
        font-weight: 400;
        color: rgba(226, 61, 13, 1);
      }
    }

    .orderStatus {
      padding-top: 16px;
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.4);

      .number {
        color: rgba($main-color, 0.4);
      }
    }
  }
  .trade-tag {
    // width:28px;
    display: inline-flex;
    align-items: center;
    padding: 0 8px;
    line-height: 28px;
    background: rgba(248, 183, 181, 0.1);
    border-radius: 2px;
    margin-right: 10px;
  }
  .trade-tag__buy {
    background: rgba(248, 183, 181, 0.1);
    color: #f8b7b5;
  }
  .trade-tag__sell {
    background: rgba(255, 172, 41, 0.1);
    color: #ffac29;
  }
  .card-first {
    padding-top: 0;
  }
}
</style>
