<template>
  <div class="transaction-record">
    <div>
      <z-header title="减排记录" />

      <!-- <div class="asset-bar">
        <div class="left">
          <div class="title">我的总碳元</div>
          <div class="f-num" style="font-size: 24px">{{ $store.getters.realCarbonAsset.toFixed(2) }}</div>
        </div>
        <div class="right">
          <div class="title">我的总现金</div>
          <div class="f-num" style="font-size: 24px">{{ $store.getters.realCashAsset.toFixed(2) }}</div>
        </div>
      </div>-->

      <!-- <div class="tab">
        <div
          @click="handleTabClick(0)"
          class="tab-item"
          :class="{
            'tab-item--focus': curTab === 0
          }"
        >碳元记录</div>
        <div
          @click="handleTabClick(1)"
          class="tab-item"
          :class="{ 'tab-item--focus': curTab === 1 }"
        >现金记录</div>
      </div>-->
    </div>
    <div class="content">
      <van-list
        :finished="carbon.finished"
        v-model="carbon.loading"
        @load="onCarbonLoad"
        finished-text="没有更多了"
        :immediate-check="false"
        v-show="curTab === 0"
      >
        <div v-for="ele in carbon.data">
          <div class="date-duration">{{ ele.key }}</div>
          <div class="record-list">
            <div v-for="i in ele.value">
              <div class="record-item">
                <div class="record-desc">
                  <div class="record-type">
                    <div class="record-date">{{ i.date }}</div>
                    <div class="record-title">{{ i.text }}</div>
                  </div>
                </div>
                <div class="record-amout f-num">{{ i.amount }}</div>
              </div>
            </div>
          </div>
        </div>
      </van-list>
      <van-list
        :finished="cash.finished"
        v-model="cash.loading"
        @load="onCashLoad"
        finished-text="没有更多了"
        :immediate-check="false"
        v-show="curTab === 1"
      >
        <div v-for="ele in cash.data">
          <div class="date-duration">{{ ele.key }}</div>
          <div class="record-list">
            <div v-for="i in ele.value">
              <div class="record-item">
                <div class="record-desc">
                  <div class="record-type">
                    <div class="record-date">{{ i.date }}</div>
                    <div class="record-title">{{ i.text }}</div>
                  </div>
                </div>
                <div class="record-amout f-num">{{ i.amount }}</div>
              </div>
            </div>
          </div>
        </div>
      </van-list>
    </div>
  </div>
</template>

<script>
import ZHeader from "../components/Header";
import { getAssetHistory } from "../api";
import { fmtDate } from "../common/utils";

/**
 * @desc 数据格式转化
 */
function mapData(arr) {
  let filterArr = arr.map(ele => {
    const date = new Date(ele.createdTime);
    const year = date.getFullYear();
    const month = date.getMonth() + 1;
    return {
      ...ele,
      amount: ele.amount > 0 ? `+${ele.amount}` : `${ele.amount}`,
      createdTime: fmtDate(ele.createdTime, "MM-DD HH:mm"),
      _key: `${year}年${month}月`
    };
  });
  let res = filterArr.reduce((acc, cur) => {
    let group = acc.find(ele => ele.key === cur._key);

    if (group) {
      group.value.push(cur);
    } else {
      acc.push({
        key: cur._key,
        value: [cur]
      });
    }
    return acc;
  }, []);
  return res;
}

function genTypeText(data) {
  const { amount, type } = data;
  if (type === 0) {
    return {
      text: "骑行兑换",
      icon: undefined
    };
  } else if (type === 1) {
    return {
      text: "商品兑换",
      icon: undefined
    };
  } else if (type === 2) {
    return {
      text: "小码兑换",
      icon: undefined
    };
  } else if (type === 3) {
    return {
      text: "碳兑换",
      icon: undefined
    };
  } else if (type === 4) {
    return {
      text: amount > 0 ? "交易买入" : "交易卖出",
      icon: undefined
    };
  } else if (type === 5) {
    return {
      text: "微信步数",
      icon: undefined
    };
  } else if (type === 6) {
    return {
      text: "八维通地铁充值",
      icon: undefined
    };
  } else if (type === 10) {
    return {
      text: "交易手续费",
      icon: undefined
    };
  } else if (type === 11) {
    return {
      text: "支付",
      icon: undefined
    };
  } else if (type === 13) {
    return {
      text: "合作方低碳行为",
      icon: undefined
    };
  } else if (type === 14) {
    return {
      text: "铸币费",
      icon: undefined
    };
  } else {
    return {
      text: "",
      icon: ""
    };
  }
}

export default {
  components: {
    ZHeader
  },
  data() {
    return {
      curTab: 0, // 0 | 1  -》 碳元 | 现金
      carbon: {
        data: [],
        oData: [],
        pageNum: 0,
        loading: false,
        finished: false
      },
      cash: {
        data: [],
        oData: [],
        pageNum: 0,
        loading: false,
        finished: false
      }
    };
  },
  mounted() {
    // router
    const { type } = this.$route.query;
    if (["carbon", "cash"].includes(type)) {
      if (type === "carbon") {
        this.curTab = 0;
      } else if (type === "cash") {
        this.curTab = 1;
      }
    }
    this.$store.dispatch("setAssets");
    this.fetchData(1, 0).then(() => {
      this.carbon.pageNum++;
    });
    this.fetchData(1, 1).then(() => {
      this.cash.pageNum++;
    });
  },
  methods: {
    async fetchData(pageNum = 1, type) {
      let {
        data: { data }
      } = await getAssetHistory({
        type: -1,
        pageSize: 20,
        pageNum,
        assetType: type
      });
      let result = data.map(item => {
        // 转化汇率
        let ratio = 1;
        if (type === 0) {
          ratio = this.$store.state.carbonRatio;
        } else if (type === 1) {
          ratio = this.$store.state.cashRatio;
        }
        return {
          ...item,
          amount: (item.amount / ratio).toFixed(2),
          date: fmtDate(item.createdTime, "MM-DD HH:MM"),
          ...genTypeText(item)
        };
      });
      if (type === 0) {
        let finalRes = mapData([...this.carbon.oData, ...result]);
        this.carbon.data = finalRes;
        this.carbon.oData = [...this.carbon.oData, ...result];
        if (result.length < 20) {
          this.carbon.finished = true;
        }
      } else if (type === 1) {
        let finalRes = mapData([...this.cash.oData, ...result]);
        this.cash.data = finalRes;
        this.cash.oData = [...this.cash.oData, ...result];
        if (result.length < 20) {
          this.cash.finished = true;
        }
      }
    },
    handleTabClick(type) {
      this.curTab = type;
    },
    onCarbonLoad() {
      this.fetchData(this.carbon.pageNum + 1, 0).then(() => {
        this.carbon.loading = false;
        ++this.carbon.pageNum;
      });
    },
    onCashLoad() {
      console.log("加载");
      this.fetchData(this.cash.pageNum + 1, 1).then(() => {
        this.cash.loading = false;
        ++this.cash.pageNum;
      });
    }
  },
  watch: {
    "$store.state.cashRatio"() {
      console.log("???");
      this.carbon.data = mapData(this.carbon.oData);
      this.cash.data = mapData(this.cash.oData);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../common/vars.scss";

$gap: 40px;

.transaction-record {
  max-height: 100vh;
  background: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .tab {
    padding: 0 120px;
  }

  .content {
    // height: 100%;
    // background: #f8f8f8;
    background: #fcfdff;
    border-radius: 16px 16px 0px 0px;
    flex-grow: 2;
  }

  .record-list {
    padding: 20px $gap;
    font-size: 24px;
  }

  .date-duration {
    line-height: 44px;
    background: rgba($main-color, 0.1);
    color: rgba(0, 0, 0, 0.6);
    font-size: 24px;
    padding-left: $gap;
  }
}

.type-icon {
  margin: 0 40px 0 0;
  width: 64px;
  // height: 64px;
}
.asset-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-align: center;
  padding: 0 40px;
  .left,
  .right {
    padding: 15px 0;
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.8);
  }
  .left {
    border-radius: 8px 0px 0px 8px;
    border-right: none;
  }
  .right {
    border-radius: 0px 8px 8px 0px;
  }
  .title {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 6px;
  }
}

.tab {
  background: $main-color;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
  padding: 0 156px;

  .tab-item {
    display: inline-block;
    line-height: 106px;
    color: rgba(255, 255, 255, 0.6);
  }

  .tab-item--focus {
    color: #fff;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 16px;
      left: calc(50% - 5px);

      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 20px;
    }
  }
}
.record-item {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 16px;
  height: 124px;
  margin-bottom: 28px;
  padding-left: 30px;
  box-shadow: 0px 40px 30px 0px rgba(143, 165, 255, 0.06),
    0px 20px 26px 0px rgba(143, 165, 255, 0.09);

  .record-desc {
    display: inline-flex;
    align-items: center;
    width: 64%;
  }

  .type-icon {
    margin: 0 40px 0 0px;
    width: 64px;
    // height: 64px;
  }

  .record-amout {
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
  }

  .record-date {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
  }

  .record-title {
    font-size: 28px;
  }
}

.f-num {
  font-family: "Futura";
}
</style>
