<template>
  <div class="header-wrapper">
    <div class="header">
      <img src="../assets/arrow.png" alt @click="handleBack" />
      <h3>{{ title }}</h3>
      <span></span>
    </div>
  </div>
</template>

<script>
// import
export default {
  props: {
    title: String,
    back: Function
  },
  methods: {
    handleBack() {
      if (this.back) {
        this.back();
      } else {
        history.go(-1);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../common/vars.scss";
$height: 120px;

.header {
  height: $height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $main-color;
  color: #fff;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  h3 {
    font-size: 38px;
    font-weight: 500;
  }
  img {
    width: 42px;
  }
}
.header-wrapper {
  height: $height;
  line-height: 0;
}
</style>
