<template>
  <div class="round-wrapper" :style="{ background: back }">
    <div class="round" :style="{ background: front }"></div>
  </div>
</template>

<script>
export default {
  props: {
    front: String,
    back: String
  }
};
</script>

<style lang="scss" scoped>
@import "../common/vars.scss";
.round-wrapper {
  line-height: 0;
  height: 20px;
  background: $main-color;
  .round {
    height: 20px;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
</style>
