<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  created() {
    
  },
  mounted() {
    this.$store.dispatch("setCurrency");
    if (localStorage.getItem("USER")) {
      this.$store.dispatch("setPrice");
      this.$store.dispatch("setAssets");
    }
  }
};
</script>

<style lang="scss">
html,
body {
  height: 100%;
  background: #fff;
  box-sizing: border-box;
}
input[type="text"],
input[type="number"] {
  background: transparent;
  border: none;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  outline: none;
}
</style>
